<center><h1>Contact List</h1></center>

<div class="row">

<% @contacts.each do |contact| %>

 <div class="col-md-3">
  <div class="product-box">
    
    <a href="/contacts/<%= contact.id %>">
      <p>First Name: <%= contact.first_name %></p></a>
    <p>Last Name: <%= contact.last_name %>
    <p>Email: <%= contact.email %></p>
    <p>Phone Number: <%= contact.phone_number %></p>
    <p>Address: <%= contact.address %></p></a>
    <%= link_to "Delete", "/contacts/#{contact.id}", method: :delete %><br>
<%= link_to "Edit", "/contacts/#{contact.id}/edit" %><br>
  </div>
  </div>
<% end %>
</div>